<html>
<head>
	<title>{{'Hellow World Page'}}</title>
	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/main.css">
	<link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/reset.css">
</head>
<body>
	{% block topbar %}

	{% endblock %}

	{% block content %}

	{% endblock %}
</body>
</html>